
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Dette er mitt eget orginale arbeid, et arbeid gjort selvstendig og et arbeid jeg er stolt av. */

/* Det eneste som avviker fra jeg har lært i løpet av pensum er måten jeg legger opp elementer i grid,
   og hvordan jeg legger til kart.
   Grid metoden er noe jeg lærte fra chatGPT i forrige arbeidskrav, og har derfor fortsatt å bruke det på den måten.
   Kartet lærte jeg å legge til via https://blog.hubspot.com/website/how-to-embed-google-map-in-html

   Css arket skal etter min beste evne ha blitt lagt opp på en måte som følger sidene fra top til bunn fra første
   til siste side. Dette er gjort for å få best mulig struktur på arket. (Mulig dette avviker i media query)

   Navn på klasser og id'er er valgt utifra innholdet de styrer.

   Bilder er hentet fra: 

   https://pixabay.com/ og https://placehold.co/ 

    Ideelt ville jeg selvfølgelig ha lastet ned bilder.
   */

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 0;
}

h2 {
    text-align: center;
}


html {
    font-size: calc(1em + 1vw);
}

header {
    padding: 1rem 0.5rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    max-width: 1600px;
}

main {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

footer {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
}

img {
    display: flex;
    max-width: 370px;
}

ul {
    padding: 0;
}

li {
    margin-right: 5px;
    list-style: none;
}

iframe {
    max-width: 360px;
    max-height: 360px;
}




#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "Header" "Main" "Footer";
}

#navigasjons-meny {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-knapper {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

#knapp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#knapp-container li {
    margin-bottom: 15px;
}

#compeling-h {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(180, 179, 177);
    min-width: none;
}

#readmore-btn1 {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    background-color: #e6bd43;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* Knapp klassen styrer hvordan alle knapper skal bygges opp */

.btn {
    border: 1px solid #000;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    text-decoration: none;
}

/* Kan så lage en egen knapp ved bruk av knapp klassen */

.btn1 {
    color: #000;
    background: #e6bd43;
}

/* Hover effekter er lagt på knapper slik */

.btn1:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}


#engaging-s {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#about-c {
    display: flex;
    border: 1px solid #000;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding-bottom: 25px;
    padding-top: 25px;
}

.btn2 {
    color: #000;
    background-color: #fff;
    width: min-content;
}

.btn2:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

#services-container {
    background-color: rgb(180, 179, 177);
}

#services-container h2 {
    margin-top: 0px;
}

#services {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

#femail {
    padding: 10px 15px;
    text-align: center;
}

.btn3 {
    color: #000;
    background: #e6bd43
}

.btn3:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}


#footer_area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
}

#socials a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    padding-left: 5px;
}

#portfolio-section-bg{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/27/21/42/stock-1863880_1280.jpg);
    background-size: cover;
    align-items: center;
    padding: 100px;
    color: #fff;
    background-repeat: no-repeat;
}

#previous-jobs-knapper {
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

#branding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#design-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-sect {
    display: flex;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/12/22/17/business-2846221_1280.jpg);
    background-size: cover;
    overflow: hidden;
    justify-content: end;
    padding: 10px;
}

/* Rgba brukes for å lage gjennomsiktig bakgrunn. */

#about-art {
    display: flex;
    flex-direction: column;
    background-color: rgba(180, 179, 177, 0.8);
    border-radius: 5px;
    padding: 10px;
}

.article-card {
    flex-basis: 200px;
    max-width: 692px;
    min-width: 200px;
    flex-grow: 0.5;
    transition: flex-basis 0.3s ease;
    margin: 10px;
}

.article-card:hover {
    flex-basis: 450px;
}

.btn4 {
    color: #000;
    background: #e6bd43;
    max-width: 220px;
}

.btn4:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

#services-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.service-article p {
    margin-top: 0;
}

#some-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6bd43;
    padding: 50px;

}

.clients-pics {
    margin: 10px;
}

#msg-form {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    padding-right: 10px;
}

#wname, #subject {
    max-width: 350px;
    min-height: 30px;
}

#message {
    max-width: 350px;
    min-height: 200px;
}

#contact-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-info {
    display: flex;
    flex-direction: column;
    font-size: small;
    padding-left: 20px;
    max-width: 350px;
}

#map-container {
    display: flex;
    justify-content: center;
}

/* Media query fra Mobil til PC */

@media only screen and (min-width: 600px) {

    header {
        grid-column: 1 / span 3;
    }

    main {
        grid-column: 1 / span 3;
    }

    footer {
        grid-column: 1 / span 3;
    }

    img {
        max-width: none;
    }

    iframe {
        max-width: none;
        max-height: none;
        min-width: 1000px;
    }

    #footer_area {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
    }

    #services {
        flex-direction: row;
        justify-content: space-between;
        margin: 50px;
        list-style: none;
    }

    #newsletter {
        padding: 0px 300px 0px 300px;
        flex-wrap: nowrap;
        min-width: 815px;
    }

    
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "Header Header Header" "Main Main Main" "Footer Footer Footer";
    }

    #navigasjons-meny {
        flex-direction: row;
        justify-content: space-between;
    }

    #knapp-container {
        flex-direction: row;
    }

    #about-c {
        flex-direction: row;
        justify-content: space-around;
    }

    .article-card {
        display: flex;
        flex-direction: column;
    }

    #previous-jobs-knapper {
        flex-direction: row;
    }

    #branding-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #design-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #dev-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #services-about{
        flex-direction: row;
    }
    
    #some-clients {
        flex-direction: row;
        justify-content: center;
    }
    
    #contact-area {
        flex-direction: row;
    }
    
}